
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ui.fileselector">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity"
            android:theme="@style/MFP_BaseTheme">
        </activity>
    </application>
</manifest>
  